@font-face {
  font-family: 'ocr';
  src: url('fonts/ocr-a-std.ttf');
}

body{
    background-color: white;
    font-family: 'ocr',monospace; /* previous font: 'Trebuchet MS' */
    color: #241f21ff;
}
.backdrop,.screen,.button,.ui-text{
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
}
.backdrop {
  height: 60vh;
  width: 50vh;
  background-color: #c0d62fff;
  border-radius: 50%;
  outline: 1vh solid #241f21ff;
}
.screen {
  height: 25vh;
  width: 28vh;
  background-color: #f1f8d4ff;
  border-radius: 10%;
  top: -3vh;
  outline: 1vh solid #241f21ff;
}
.button{
  height: 5vh;
  width: 5vh;
  background-color: #241f21ff;
  outline: 1vh solid #241f21ff;
  outline-offset: -0.5vh;
  border-radius: 5vh;
  top: 43vh;
}

.ui-text{
  font-size: 1.8vh;
  text-align: center;
}
